/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
}

#about-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
}

#site-logo {
    height: 4.5rem;
}

.nav-bar {
    position: relative;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    top: 1rem;
    bottom: 1rem;
    color: black;
}

#current {
    font-weight: bold;
    background-color: hsla(0, 10%, 54%, 0.365);
    border-radius: 10px;
    padding: 0.3rem;
}

.logo {
    height: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.5rem;
}

body {
    background: lightskyblue
}

#body-container {
    margin: 2rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, .6);
    display: grid;
    grid-template-columns: 30% 45%;
}

#about-container {
    margin-left: 5%;
    margin-right: 5%;
}

#resume-container {
    margin-left: 5%;
    margin-right: 5%;
}

#resume-image {
    width: 100%;
    height: auto;
}