/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    padding-top: 1rem
}

#about-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
}

#site-logo {
    height: 4.5rem;
}

.nav-bar {
    position: relative;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    top: 1rem;
    bottom: 1rem;
    color: black;
}

#current {
    font-weight: bold;
    background-color: hsla(0, 10%, 54%, 0.365);
    border-radius: 10px;
    padding: 0.3rem;
}

.logo {
    height: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.5rem;
}

body {
    background: lightskyblue
}

#body-container {
    display: grid;
    grid-template-columns: 38% 62%;
    height: 90vh;
}

#about-container {
    height: 100%;
    background-color: grey;
}

#profile-image {
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%
}

#about-me {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

#resume-container {
    height: 100%;
}

#resume {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding: 5%;
    background-color: hsla(0, 0%, 100%, .6);
    width: 80%;
}
#resume-image {
    width: 100%;
    height: auto;
}

#download-resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#download-button {
    font-size: 100%;
    
}

#download-resume {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 5px;
}
